/*div h1{
    background-color: aqua;
    color: black;
}*/
/*#min p{
    background-color: black;
    color: blue;
}
#min h1{
    background-color: aqua;
    color: blue;
}*/


/*div>p{
    background-color: aquamarine;
    color: indianred;
}*/


/*div+h2{
    background-color: brown;
    color: black;
}*/

/* #min p{
    background-color: blueviolet;
    color: black;
}
#max p{
    background-color:navajowhite;
    color: black;
}*/
/*
#min{
    background-color: aqua;
    color: black;
}*/


#nan{
    background-color: cadetblue;
    color: brown;
}